<div class="bg-gray-100 h-[80px] w-full sticky top-0">
    <div class="flex justify-between items-center h-full">
        <div class="w-[50%] flex justify-start pl-[200px]  text-[22px] font-mono text-blue-700 font-medium items-center">
            Machine Coding Questions
        </div>
        <div class="w-[50%] flex justify-end pr-[200px]  text-[22px]  font-mono items-center">
            <a routerLink="/" class="cursor-pointer hover:text-green-600">
                Home
            </a>
        </div>
    </div>
</div>