<div class="w-full">
  <div class="text-[25px]">File Explorer</div>
  <div class="mt-10">
    <ng-container>
      <button
        class="w-[150px] py-2 border-[2px] cursor-pointer border-black mr-10"
        (click)="addFolderFile()"
      >
        Add File / Folder
      </button>
    </ng-container>
    <button
      class="w-[150px] py-2 border-[2px] cursor-pointer border-black"
      (click)="collapseAllFolder()"
    >
      Collapse All
    </button>
  </div>
  <div class="mt-10 text-[20px]">
    <div
      *ngTemplateOutlet="fileExplorer; context: { folderData: folderData }"
    ></div>
  </div>
</div>

<ng-template #fileExplorer let-folderData="folderData" let-style="style" let-parent="parent">
  <div class="{{ style }}" *ngFor="let folder of folderData">
    <ng-container *ngIf="folder.type == 'FOLDER'">
      <div
        *ngTemplateOutlet="
          folderTemplate;
          context: {
            name: folder.name,
            folder: folder,
            parent:parent,
            arrow: openFolderId.includes(folder.id)
              ? 'DOWN_ARROW'
              : 'RIGHT_ARROW'
          }
        "
      ></div>
      <ng-container
        *ngIf="folder.childrens.length != 0 && folder.collapse"
      >
        <div
          *ngTemplateOutlet="
            fileExplorer;
            context: { folderData: folder.childrens, style: 'pl-5',parent:folder }
          "
        ></div>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="folder.type == 'FILE'">
      <div
        *ngTemplateOutlet="
          fileTemplate;
          context: { name: folder.name, id: folder.id }
        "
      ></div>
    </ng-container>
  </div>
</ng-template>

<ng-template
  #folderTemplate
  let-folder="folder"
  let-parent="parent"
  let-name="name"
  let-arrow="arrow"
>
  <div
    class="flex justify-start items-center w-[100%] py-2 border-b-2 border-b-gray-400"

  >
    <div class="flex items-center" (click)="openFolder(folder)">
      <img [src]="getSvgName(arrow)" class="h-[25px] w-[25px]"/>
      <img class="pl-3 h-[35px] w-[35px]"  [src]="getSvgName('FOLDER')" />
      <span class="pl-3 text-[20px]">{{ name }}</span>
    </div>
    <div class="flex justify-center items-center">
        <button (click)="addFolderFile(folder)">
            <img class="ml-[50px] h-[25px] w-[25px] cursor-pointer"  [src]="getSvgName('PLUS')" />
        </button>

        <button (click)="deleteFolder(parent,folder)">
            <img class="ml-[30px] h-[25px] w-[25px] cursor-pointer"  [src]="getSvgName('DELETE')" />
        </button>
    </div>
  </div>
</ng-template>

<ng-template #fileTemplate let-id="id" let-name="name">
  <div class="flex py-2 border-b-2 border-b-gray-400" (click)="openFolder(id)">
    <img class="pl-3" [src]="getSvgName('FILE')" />
    <span class="pl-3">{{ name }}</span>
  </div>
</ng-template>
